<link rel="stylesheet" href="/css/footer.css">
<footer id="mFooter" class=" footer bg-blue py-3 mt-auto">
    <div class="container">
        <span class="white">&copy; Parkour Algarve 2022</span>

    </div>
</footer>