<%- layout('/layouts/boilerplate') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Lobster&display=swap">

    <link rel="stylesheet" href="/css/parkour.css">
    <div class="container col-10 mb-5 text cont">
        <h1 class="mb-4 blueTITLE">História do Parkour</h1>
        <p class="blueSUBTITLE"> <b>Início do séc XX </b> </p>
        <p> Georges Hébert “Avô do Parkour”
            Georges Hébert foi oficial da Marinha Francesa antes da Primeira Guerra Mundial e estava
            estacionado na cidade de St. Pierre, na ilha de Martinica, no Mar do Caribe. Em 1902, a cidade
            foi vítima de uma erupção vulcânica catastrófica.</p>
        <p>Hébert coordenou a fuga e o resgate de cerca de setecentas pessoas desse desastre. Essa
            experiência teve um efeito profundo sobre ele e reforçou sua crença de que a habilidade
            atlética deve ser combinada com coragem e altruísmo. Ele acabou por desenvolver esse ethos
            no seu lema pessoal, &quot;Être fort pour être utile&quot; (&quot;Ser forte para ser útil&quot;).
            Ao regressar a França, Hébert tornou-se instrutor físico dos fuzileiros da marinha franceses,
            onde começou a definir os princípios do seu próprio sistema de educação física e a criar
            aparelhos e exercícios para ensinar o seu &quot;Método Natural&quot;.
            Além de suas observações dos movimentos naturais dos povos indígenas, o método de Hébert
            é uma síntese de várias influências, dos seus predecessores e colégios, e vários ideais dos
            antigos ginásios gregos.</p>
        <p> O sistema de Hebert rejeitava a ginástica corretiva e acreditava que, ao se concentrar na
            competição e no desempenho, o desporto competitivo desviava a educação física tanto dos
            seus fins fisiológicos como na sua capacidade de promover valores morais sólidos.</p>
        <p class="blueSUBTITLE"> <b>Ele escreveu:</b> </p>
        <p><i>“O objetivo final da educação física é criar seres fortes. No sentido puramente físico, o Método
                Natural promove as qualidades de resistência orgânica, musculosidade e velocidade, no
                sentido de poder caminhar, correr, pular, mover-se de quatro, escalar, equilíbrar, atirar,
                levantar, defender-se e nadar.
                No sentido &quot;viril&quot; ou energético, o sistema consiste em ter energia, força de vontade,
                coragem,
                frieza e firmeza suficientes.
                No sentido moral, a educação, ao elevar as emoções, dirige ou mantém o impulso moral de
                uma forma útil e benéfica. ”</i></p>
        <p> O verdadeiro Método Natural, num sentido mais amplo, deve ser considerado como o
            resultado dessas três forças particulares; é uma síntese física, viril e moral. Não reside apenas
            nos músculos e na respiração, mas sobretudo na &quot;energia&quot; que é utilizada, na vontade que a
            dirige e no sentimento que a orienta.</p>
        <p> O ensino de Georges Hébert continuou a expandir entre e durante as duas guerras, tornando-
            se o sistema padrão de educação física militar francesa.</p>
        <p> Ele também foi um dos primeiros defensores dos benefícios dos exercícios para as mulheres.
            Na sua obra &quot;Muscle and Plastic Beauty&quot;, publicada em 1921, Hébert criticou não só a moda do
            espartilho, mas também a inatividade física imposta às mulheres pela sociedade europeia
            contemporânea. Seguindo o método natural de desenvolvimento físico, energético e moral
            sintetizado, escreveu ele, as mulheres poderiam desenvolver autoconfiança, força de vontade
            e habilidade atlética tão bem quanto os seus colegas masculinos.</p>

        <p> Hébert também foi um dos primeiros proponentes do “le parcours”, ou pista de obstáculos,
            forma de treino físico, que agora é padrão nas forças armadas e levou ao desenvolvimento de
            trilhos de preparação física para civis e percursos de confiança. Na verdade, os percursos de
            florestas compreendendo de vigas de equilíbrio, escadas, corda de balanço e assim por diante
            ainda são frequentemente descritos como cursos de &quot;hebertismo&quot; ou &quot;hebertisme&quot; na Europa
            e na América do Norte. Pode até ser possível rastrear o equipamento moderno de parques de
            aventura até aos esquemas originais de Hébert no início do século XX.</p>
        <p class="blueSUBTITLE"><b> Meados do séc XX - Raymond Belle “Pai do Parkour”</b></p>
        <p>Nascido em 1939 no Vietnam, Raymond Belle era filho de um médico francês e mãe
            vietnamita. Durante a Primeira Guerra da Indochina, o seu pai morreu e foi separado de sua
            mãe, ao que foi enviado para um orfanato militar em Da Lat aos 7 anos de idade. Decidiu
            treinar mais do que os outros e nunca ser uma vítima. À noite, quando todos estavam a
            dormir, ele ficava acordado a correr ou a subir árvores. Usava as pistas de obstáculos militares
            em segredo e também criava pistas que testavam a sua resistência, força e flexibilidade. Isto
            não apenas o ajudou a sobreviver às adversidades que enfrentou durante a infância, mas
            também a prosperar. Após a Batalha de Dien Bien Phu em 1954, voltou a França e permaneceu
            no ensino militar até aos 19 anos, quando se juntou ao Corpo de Bombeiros de Paris, uma
            unidade do Exército francês.</p>

        <p class="blueSUBTITLE"> <b>Finais do séc XX – Yamakasi a 1ª Geração</b> </p>
        <p>O filho de Raymond, David Belle, nasceu em 1973. Praticou ginástica e atletismo, mas tornou-
            se cada vez mais insatisfeito com a escola e os clubes desportivos. À medida que emadurecia,
            ficava cada vez mais curioso sobre as façanhas do pai e o que o capacitou a realizar essas
            façanhas. A conversar com ele percebeu que o que realmente queria era um meio de
            desenvolver habilidades que seriam úteis para a vida, ao invés de apenas treinar para chutar
            uma bola ou executar movimentos num ambiente interno acolchoado.
            David acabou por ensinar a maneira de treinar do pai para os primos e amigos, criando a
            primeira geração de praticantes de Parkour chamada Yamakasi, do congolês Lingala “Ya
            Makási”, que significa forte na sua pessoa, ou &quot;homem forte, espírito forte&quot;, e chamou a sua
            disciplina de &quot;l&#39;art du déplacement&quot; (francês para &quot;a arte do movimento&quot;). Anos mais
            tarde
            surgiram derivados como “Parkour” e “Freerunning”.</p>
        <h2 class="blueSUBTITLE"> <b> Dias de Hoje</b></h2>
        <p>Hoje em dia o Parkour pode ser encontrado em qualquer lugar da terra, praticado em
            qualquer ambiente e por qualquer pessoa, jovem ou velho, homem ou mulher, rico ou pobre,
            doente ou saudável. Ao longo dos anos o parkour tornou-se um free for all, podendo ser
            praticado por qualquer pessoa sem equipamento (sim, não é preciso calçado… e nem mesmo
            de roupa!).</p>
        <p> Com o conhecimento de hoje sobre educação física e saúde, o Parkour desenvolveu aplicações
            bastante interessantes em várias áreas. A aplicação mais usada é com menores de idade por
            meio de programas para jovens, principalmente trabalhando com famílias carentes ou crianças
            que vêm de origens traumáticas (sexo, drogas, abuso, etc.), onde podem melhorar a
            autoconfiança e o trabalho de equipa por meio da dinâmica de grupo. Em alguns países, o
            Parkour está a ser ensinado a idosos e pessoas com deficiências físicas (amputados, paralisia
            cerebral unilateral, etc.) e tem um grande sucesso na reabilitação da densidade óssea, atrofia
            muscular e coordenação com treinos de baixo impacto. Em poucos países, o Parkour está a ser
            ensinado a socorristas e militares, e também usado para verificar a segurança em prisões,
            prédios do governo e de empresas privadas.</p>
        <p>Em 2017, no entanto, a Federação Internacional de Ginástica (FIG) declarou o Parkour como
            uma das suas disciplinas, recebendo muita oposição das comunidades de Parkour
            globalmente. Isso deve-se à filosofia, aos princípios e crenças fundamentais do Parkour.
            Citando Georges Hebert &quot;Être fort pour être utile&quot;, &quot;Ser forte&quot; fisicamente, mentalmente
            e
            emocionalmente &quot;Para ser útil&quot; para nós mesmos, para nossa família e, em seguida, para a
            comunidade. Sem isso, o movimento torna-se vazio e sem propósito.</p>
    </div>