<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkour ALgarve</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/showpageMais.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">


</head>

<body>


    <%- include('./partials/navbar')%>
        <%- include('./partials/flash') %>

            <div class="filosofia">
                <span class="shadow">
                    <h1 class="lema"> <i>“Ser Forte para Ser Útil”</i> </h1>
                </span>

                <p>É a filosofia de vida do Parkour numa frase simples com um significado muito mais
                    profundo
                    do que estas cinco palavras. Propagada pelos Yamakasi, a primeira geração de
                    praticantes,
                    esta frase vem de antes da formação do grupo quando Georges Hébert o “Avô do Parkour”
                    criou a sua disciplina do &quot;Método Natural&quot;.</p>
            </div>
            <div class="textDIV">

                <hr>
                <div class="serForte">


                    <p class="intro">A parte inicial da frase “Ser Forte(…)” refere-se a um
                        conjunto de três aspectos interdependentes, onde
                        ao desenvolver um melhoramos também os outros.</p>

                    <div class="serForteTEXT">
                        <div class="list">
                            <p>Estes são:</p>

                            <ul>
                                <li> O Físico de Força, Potênca e Endurance Cardio -
                                    repiratória.</li>
                                <li> O Técnico de Conhecimento sobre o
                                    funcionamento do mundo à nossa volta.</li>
                                <li>O Psicoemocional de ser Resiliente e Persistir
                                    independentemente da situação .</li>
                            </ul>
                        </div>

                        <div class="imgDiv">
                            <img src="https://res.cloudinary.com/dfaqpdtr4/image/upload/v1622725692/Parkour%20Algarve/Ser_Forte_Esquema_teoabb.png"
                                alt="">
                        </div>
                    </div>

                </div>
                <hr>
                <div class="serUtil">
                    <p class="intro">A segunda parte “para Ser Útil” refere-se a uma tríade de objectivos em
                        camadas:</p>
                    <div class="serUtilTEXT">

                        <div class="serUTILLIST">
                            <ul>
                                <li> Na primeira camada sermos úteis para Nós mesmos como seres autónomos e
                                    independentes. Conseguirmos estar “bem”
                                    e resolvermos os nossos problemas sem
                                    termos que recorrer à ajuda de outros.</li>
                                <li> Na segunda camada sermos úteis para a
                                    Família. Estando numa posição onde já nos
                                    conseguimos ajudar a nós mesmos,
                                    conseguir ajudar os nossos mais próximos
                                    nos seus problemas.</li>
                                <li> Na terceira camada sermos úteis para a
                                    Comunidade. Se conseguimos lidar com os
                                    nossos problemas e os da família com
                                    alguma facilidade, então está na altura de
                                    entendermos como podemos ajudar a
                                    melhorar a comunidade (local ou mundial).</li>
                            </ul>
                        </div>
                        <div class="imgDiv2">
                            <img src="
                            https://res.cloudinary.com/dfaqpdtr4/image/upload/v1622726800/Parkour%20Algarve/Ser_%C3%9Atil_Esquema_sem_fundo_xcxqnj.png"
                                alt="">
                        </div>
                    </div>


                </div>
            </div>



            <link rel="stylesheet" href="/css/footer.css">
            <footer id="mFooter" class=" footer bg-blue py-3 mt-auto">
                <div class="container">
                    <span class="white">&copy; Parkour Algarve 2022</span>

                </div>
            </footer>