body{    background:linear-gradient( to right, rgb(96, 149, 247),rgb(5, 30, 99));

}

.BTN {
margin-left: 5em;
   width:10em;
}

.BTN:hover{
    background-color:rgb(33, 76, 192);
    border-color: rgb(33,76,192);
}

.a, .a1{
    color: white;
    text-decoration: none;
}
.a:hover, .a1:hover{
    color: white;
}
.blue{
      background-color: rgb(5, 30, 99);
    border-color: rgb(5, 30, 99);
}
.img{
    height: 400px;
    object-fit: cover;
}

.aula{
    width: 30em;
}




@media (max-width:1400px){
    .mainCont, .butt{
        justify-content:center
    }
    .butt button{
        width:40%;
        margin-left: 0;
    }
    
    
}
@media (max-width:400px){
    .aula{
        margin-top: 0;
        margin-bottom: 0;
    }
        .main, .mainCont, .aula, .container{
            width:100%;
            margin:0;
            padding:0;
        }
      .BTN{
          width:100%;
      }
}
