@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0px;
}

.main{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-image: url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: 1750px;
    background-attachment: fixed;
    height: 200%;
    padding-bottom: 250px;
    z-index: 1;
    padding-top: 150px;
}

.logo{
    padding-top: 60px;
    width: 400px;
    height: auto;
}

.break{
    z-index: 2;
    margin: 0%;
    padding: 10px 10px 200px 10px;
    box-shadow:0px -10px 6px 12px #888, inset 0px 8px 6px -6px #888;
    background-color: aliceblue;
}

#about{
    margin: 0px;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    background-color: aliceblue;
    background-image: url("../images/upscaled-background-about.jpg");
    background-repeat: no-repeat;
    background-size: 1800px;
    background-attachment: fixed;
    background-position: -73px 0px;
    box-shadow: inset 0px -4px 8px -5px;
    z-index: -2;
}

.about-us{
    display: flex;
    flex-direction: column;
    color: rgba(250,175,60,1);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 10px;
    margin-left: 530px;
    
}

.about-us > h1 {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    margin: 0px;
    font-size: xxx-large;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
}

#aparcour-about{
    margin-top: 300px;
    margin-bottom: 150px;
}

.about-us > pre, .about-us > p  {
    padding-left: 10px;
    display: flex;
    margin: 0px;
    font-size: xx-large;
    color: black;
    font-family: roboto , "Quicksand", sans-serif;
}

.about-us > h2 {
    padding-top: 10px;
    padding-left: 10px;
}

#about-button{
    margin: 100px 150px 20px 150px; 
    z-index: 1;
    
}

@media screen and (max-width: 1000px) {
    body{
        padding-top: 200px;
    }
    .about-us {
        margin-left: 20px;
    }
    .main{
        background-position-x: -620px;
    }
}
@media screen and (max-width: 1100px) {
    #about{
        background-position: -50px 200px;
    }
    .about-us {
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    #about-button{
        margin: 100px 10px 20px 0px; 

    }
}

