@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

body{
--oxford-blue: #1D273Aff;
--timberwolf: #D2D2D3ff;
--orange-web: #F9AE3Bff;
--cobalt-blue: #0543A6ff;
--cobalt-blue-2: #0145B3ff;
margin: 0;
}

.seccao-horarios-bg{
    background-color: var(--timberwolf) ;
    margin: 0;
    padding-bottom: 3em;
}

.seccao-horarios{
    padding-block: 2em;
    width: min(100%, 1200px);
    margin: auto;
}

.horarios-header{
    color: var(--orange-web);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
    letter-spacing: 2px;
    margin: 0.5em;
}

.horarios-header-span{
    color: var(--oxford-blue);
    font-size: 0.5em;
}

hr{
    color: var(--orange-web);
}

.horarios-container{
    width: 70%;
}

.horarios-tabela{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    margin: 2em;
}

.titulos-tabela{
    color: var(--orange-web);
    font-weight: 700;
    font-size: 1.5em;
}

.titulos-tabela-en{
    color: var(--oxford-blue);
    font-weight: 700;
    padding-top: 1em;
    font-size: 1.5em;
}

.info-tabela, .info-tabela-en{
    font-size: 1.2em;
}

.info-loc-texto {
    margin-left: 2em;
    padding-right: 2em;
    font-family: "Quicksand", sans-serif;
}

.info-loc-texto h3{
    color: var(--orange-web);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.info-loc-texto h3 span{
    font-size: 0.85em;
    color: var(--oxford-blue);
}
td{
    padding: 0em 3em 0.3em 0;

}

iframe{
    margin-top: 2em;
    border-radius: 2em;
}

.info-loc-btn{
    background-color: var(--timberwolf);
    color: var(--oxford-blue);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1em;
}

.info-loc-btn:hover{
    font-weight: 700;
    box-shadow: 10px 5px 5px var(--orange-web);
}

.loc-recinto-img{
    margin-top: 2em;
    width: 70%;
    display: block;
}

.hide{
    display: none;
}
.show{
    display: block;
}