<%- layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/addForms.css">
    <div class="col-12 d-flex justify-content-center">
        <div class="d-flex flex-column  col-lg-4 col-md-8 col-sm-12 ">

            <form action="/recoverPassword" method="POST" novalidate class="validated-form contFORM1 border mt-5">
                <h4 class="mb-3">Recuperar Palavra-Passe </h4>
                <div class="mb-3">

                    <label for="email" class="form-label">
                        <p>Digite o seu enderenço de email. Iremos enviar um email de recuperação de palavra-passe</p>
                    </label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Email" required>
                    <div class="valid-feedback">
                        Parece Bem!
                    </div>
                </div>
                <button class="btn btn-primary">Enviar Email</button>
            </form>

        </div>
    </div>