<%- layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/addForms.css">

    <div class="container col-6 d-flex justify-content-center">
        <form method="POST" novalidate class="d-flex flex-column col-8 contFORM1 border validated-form"
            action="/replacePassword/<%=user._id %>/<%=token %>">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Nova Palavra-Passe</label>
            </div>
            <div class="col-auto">
                <input type="password" id="inputPassword6" name="newPassword" class="form-control"
                    aria-describedby="passwordHelpInline" required>
                <div class="valid-feedback">
                    Parece Bem!
                </div>
            </div>

            <div class="col-auto">
                <label for="inputPassword7" class="col-form-label">Confirmar Nova Palavra-Passe</label>
            </div>
            <div class="col-auto">
                <input type="password" id="inputPassword7" name="newPassword2" class="form-control"
                    aria-describedby="passwordHelpInline" required>
                <div class="valid-feedback">
                    Parece Bem!
                </div>
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    A palavra-passe precisa no mínimo 8 caracteres e uma letra maiúscula
                </span>
            </div>
            <button class="btn btn-primary my-4">Redefinir palavra-passe</button>

        </form>
    </div>